node_modules/
.env
test.js
.vscode/
weather_example.json
gmail/
tests/
mail.py
media/
cdt.txt
token.js
appstate.json

# Dialog
dialog/Exercise_1_end.xml
dialog/Exercise_2_end.xml
dialog/WatsonDialogDocument_1.0.xsd